<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<!-- <a href="/posts/new/">Create new post</a> -->
<%= link_to "New Post", new_post_path %>

<% @posts.each do |post| %>
    <!-- <h1><%= post.title %></h1> -->
    <a href="/posts/<%= post.id %>">
        <h2><%= post.title %></h2>
      </a>
<% end %>